<% include header.ejs%>
<div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <legend>个人信息管理</legend>
        </div>
    </div>
</div>
<% include footer.ejs%>