body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  text-align:center;color: #dc1818;font-weight:900;font-size:50px;font-family:'Times New Roman',Georgia,Serif
}

form{
  background-color: #E0F2BE
}